<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Gambling Game</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="game-container">
        <img src="/static/images/Location.png" alt="Background" class="main-image">    
    </div>

    <div class="dice-area">
    <div id="dealer-dice" class="dice-row"></div>
    <div id="player-dice" class="dice-row"></div>
</div>


    <button id="gambling-btn">GAMBLING</button>

    <audio id="background-music" src="/static/sounds/background.mp3" type="audio/mpeg" loop></audio>

    <script src="/static/js/game.js"></script>
</body>
</html>
